:scope {
background-color: red;
}
.app {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: blue;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    background-color: wheat;
}
.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    background-color: red;
}

.footerLink {
    color: green;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 120px;
}

.appHeader {
    background-color: red;
    height: 170px;
    padding: 20px;
    color: black;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
